/* Estilos generales */
body {
    background-image: url('/img/fondo.png'), url('/img/image001.png'); /* Dos imágenes de fondo */
    background-position: top left, bottom right;
    background-size: 95%, 75%; 
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logo {
    width: 220px; 
    height: auto;
    margin-left: 30px;
 
}


nav img {
    max-width: 100%;
    height: auto; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px; 
    padding-top: 10px;
    margin-right: 40px;
}

nav ul li a {

    text-decoration: none;
    color: #ec1616;
    font-size: 25px;
    font-weight: 500;
}

.cart {
    padding: 0px;
    display: flex;
    justify-content: flex-end; 
    padding-right: 20px; 
}

.cart svg {
    width: 60px; /* Ajusta el tamaño si es necesario */
    height: 60px;
    fill: red; /* Cambia el color del carrito a rojo */
}

/* est prod */
.maihncontainer{
    display: flex;
}
.div1{
    width: 50%;
}
.H11{
    font-size: 3.9em;
    color: green;
    margin-left: 70px;
}
.H12{
    color: red;
    font-size: 3.9em;
    margin-top: -8.3%;
    margin-left: 70px;
}
.parrafo{
    padding: 10px;
    color: black;
    font-size: 1.4em;
    margin-left: 80px;
}


.div2 {
    top: auto;
    position: relative; /* Define el contexto de posicionamiento para los elementos dentro de .div2 */
    width: 50%;
    height: 480px;
    margin: 0 auto; /* Centra horizontalmente si es necesario */
}

.imgcont {
    position: absolute; /* Posiciona el contenedor de la imagen de forma absoluta */
    bottom: 0; /* Alinea la imagen al fondo del contenedor */
    right: 0; /* Alinea la imagen al borde derecho del contenedor */
}

.imgcont img {
    width: 620px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 595px; /* Mantiene las proporciones de la imagen */
}


.contButton{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnsave{
    color: black;
    background-color: white;
    border: 4px solid rgb(96, 95, 95);
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efecto hover */
.btnsave:hover{
    background-color: black;
    color: white;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 80%;
    }
}
