body {
    background-image: url('/img/fondo2.jpg'); 
    background-position: top center;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Cambia 'center' a 'flex-start' para alinear hacia arriba */
}
.logo {
    width: 230px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 30px;
 /* Añade un poco de espacio a la derecha para separarlo del contenido */
}


nav img {
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px; /* Aumenta la distancia entre los elementos */
    padding-top: 10px;
    margin-right: 40px;
}


nav ul li a {

    text-decoration: none;
    color: #ec1616;
    font-size: 25px;
    font-weight: 500;
}

.cart {
    display: flex;
    padding-right: 20px; 
}
.cart svg {
    width: 45px; 
    height: 45px;
    fill: rgb(245, 40, 40);
}

main {
    padding: 20px;
}

.titulo{
    display: flex;
    width: 45%;
    justify-content: center;
    margin-left: 570px;
    flex-direction: column;
    margin-top: -16.0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}
.h11{
    font-size: 4.5em;
    color: green;
    
}
.h22{
    color: red;
    font-size: 2.8em;
    margin-top: -7%;


}

.redes {
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    justify-content: center; /* Centra los íconos horizontalmente */
    margin-left: 100px;
    gap: 50px; /* Espacio entre los íconos */
    margin-top: 150px; /* Espacio superior para separar del contenido anterior */
}
.redes img{
    width: 120px;
    height: 120px;
}

.redes svg {
    vertical-align: middle; /* Alinea verticalmente los íconos */
}
