body {
    background-image: url('/img/fondo2.jpg'); 
    background-position: top left;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Cambia 'center' a 'flex-start' para alinear hacia arriba */
}
.logo {
    width: 220px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 30px;
 /* Añade un poco de espacio a la derecha para separarlo del contenido */
}


nav img {
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px; /* Aumenta la distancia entre los elementos */
    padding-top: 10px;
    margin-right: 40px;
}


nav ul li a {

    text-decoration: none;
    color: #ec1616;
    font-size: 25px;
    font-weight: 500;
}

.cart {
    display: flex;
    padding-right: 20px; 
}

.cart svg {
    width: 60px; 
    height: 60px;
    fill: red;
}

main {
    padding: 20px;
}

.titulo{
    display: flex;
    width: 35%;
    justify-content: center;
    margin-left: 650px;
    flex-direction: column;
    margin-top: -13.0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}
.h11{
    font-size: 3.3em;
    color: green;
    
}
.h22{
    color: red;
    font-size: 3.3em;
    margin-top: -10%;


}



/* Estilos de los productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    padding: 5px;
}

.producto {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 190px;
    height: auto;
    margin-top: -2px;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de la imagen con hover */
.producto img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.producto:hover img {
    transform: scale(1.1); /* Efecto de agrandamiento */
}

.producto:hover {
    transform: scale(1.05); /* Efecto de agrandamiento del producto */
}

.producto h1 {
    font-size: 20px;
    color: green;
    margin-top: 5px;
}




/* Estilos responsivos */
@media (max-width: 768px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 80%;
    }
}
