body {
    background-image: url('/img/fondo2.jpg'); 
    background-position: top left;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Cambia 'center' a 'flex-start' para alinear hacia arriba */
}
.logo {
    width: 230px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 30px;
 /* Añade un poco de espacio a la derecha para separarlo del contenido */
}


nav img {
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px; /* Aumenta la distancia entre los elementos */
    padding-top: 10px;
    margin-right: 40px;
}


nav ul li a {

    text-decoration: none;
    color: #ec1616;
    font-size: 25px;
    font-weight: 500;
}

.cart {
    display: flex;
    padding-right: 20px; 
}

.cart svg {
    width: 60px; 
    height: 60px;
    fill: red;
}

main {
    padding: 20px;
}

.titulo{
    display: flex;
    width: 35%;
    justify-content: center;
    margin-left: 650px;
    flex-direction: column;
    margin-top: -13.0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}
.h11{
    font-size: 3.5em;
    color: green;
    
}
.h22{
    color: red;
    font-size: 2.5em;
    margin-top: -8%;


}
/* Asegúrate de que el HTML esté dentro de un contenedor con clase 'container' */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #d2e0d5; /* Fondo verde */
    color: green; /* Color del texto */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px; /* Ancho máximo del formulario */
    width: 100%; /* Ancho completo hasta el máximo definido */
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 10px); /* Ancho total menos el padding */
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #155724; /* Un verde más oscuro para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #0d3d00; /* Verde aún más oscuro al pasar el ratón */
}
