body {
    background-image: url('/img/fondo2.jpg'); 
    background-position: top left;
    background-size: 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Cambia 'center' a 'flex-start' para alinear hacia arriba */
}
.logo {
    width: 230px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 30px;
 /* Añade un poco de espacio a la derecha para separarlo del contenido */
}


nav img {
    max-width: 100%; /* Asegura que el logo no exceda el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 80px; /* Aumenta la distancia entre los elementos */
    padding-top: 10px;
    margin-right: 40px;
}


nav ul li a {

    text-decoration: none;
    color: #ec1616;
    font-size: 25px;
    font-weight: 500;
}

.cart {
    display: flex;
    padding-right: 20px; 
}

.cart svg {
    width: 60px; 
    height: 60px;
    fill: red;
}

main {
    padding: 20px;
}

.titulo{
    display: flex;
    width: 35%;
    justify-content: center;
    margin-left: 650px;
    flex-direction: column;
    margin-top: -13.0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
}
.h11{
    font-size: 3.5em;
    color: green;
    
}
.h22{
    color: red;
    font-size: 3.5em;
    margin-top: -11%;


}
.producto-detalle {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: left;
    
    
}


.producto-detalle img {
    max-width: 280px;
    margin-right: 20px;
}

.descripcion_pro h1 {
    margin-top: -70px;
    font-size: 3.0em;
    color: green;
    flex-direction: column;
    
}

.descripcion_pro p {
    
    font-size: 20px;
    max-width: 600px;
    text-align: justify;
    flex-direction: column;
}
.producto-precio-carrito{
    margin: 10px;
    padding: 5px;
    align-self: flex-end;
}
.precio{
    
    padding: 0px;
    align-self: flex-end;
    color: green;
    font-size: 2.0em;
}

.producto-precio-carrito a {
    display: inline-block;
    padding: 6px 13px;
    background-color: #ffffff;
    color: rgb(8, 8, 8);
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid #787471;
    margin-top: -15px;
    font-weight: 600;
    font-size: 1.2em;
}

.producto-detalle a:hover {
    background-color: #a49e99e2;
}

section {
    text-align: center;
    margin-top: 6px;
}

section a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section a:hover {
    text-decoration: underline;
}



